[[steps]]
[steps.shell]
script = '''
set -ex
curl -fsSL https://download.docker.com/linux/centos/docker-ce.repo -o /etc/yum.repos.d/docker-ce.repo
dnf install -y gcc docker-ce

curl -fsSL https://golang.org/dl/go1.18.10.linux-amd64.tar.gz | tar -C /usr/local -xzf -
echo 'export PATH=$PATH:/usr/local/go/bin' >> ~/.bashrc

systemctl enable --now docker.socket

docker pull docker.io/hello-world
docker pull docker.io/alpine
docker pull docker.io/busybox
'''
