[[steps]]
[steps.shell]
script = '''
set -ex
dnf install -y podman gcc

curl -fsSL https://golang.org/dl/go1.18.10.linux-amd64.tar.gz | tar -C /usr/local -xzf -
echo 'export PATH=$PATH:/usr/local/go/bin' >> ~/.bashrc

cat <<EOF > /etc/containers/containers.conf
[containers]
label=false
EOF

systemctl --user enable --now podman.socket

podman --url unix:/run/user/0/podman/podman.sock image pull docker.io/hello-world
podman --url unix:/run/user/0/podman/podman.sock image pull docker.io/alpine
podman --url unix:/run/user/0/podman/podman.sock image pull docker.io/busybox
'''
